{% extends 'index.html' %}

{% block title %}
<title> New</title>
{% endblock %}

{% block content %}
<h1>New Page</h1>
<hr>
<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    제목 : <input type="text" name="title" id="title"><br>
    본문 : <textarea name="body" cols="30" rows="10"></textarea> <br>
    이름 : <textarea name="user_name" cols="30" rows="10"></textarea> <br>
    이메일 : <textarea name="email" cols="30" rows="10"></textarea> <br>
    <button type="submit"> 작성</button>
</form>
{% endblock %}